<div class="perfil">
    <h1>PERFIL</h1>
    <hr />
    <p><strong>Nombre:</strong> {{auth.profile?.name}}</p>
    <p><strong>Email:</strong> {{auth.profile?.email}}</p>
    <p><strong>Phone</strong> {{auth.profile?.phone}}</p>
    <p><strong>UID</strong> {{auth.profile?.id}}</p>
    <button [routerLink]="'/edit-profile'">Editar perfil</button>
    <hr />
    <div class="historia">
        <h3>Historial</h3>
    </div>
</div>

<!-- <app-card [data]="post" *ngFor="let post of postsFiltrados"></app-card> -->

