<div class="app-menu">
  <a routerLink="/home" class="navbar-btn">Home</a>
  <a routerLink="/login" class="navbar-btn">Login</a>
  <a routerLink="/register" class="navbar-btn">Register</a>
  <a routerLink="/search" class="navbar-btn">Search</a>
  <a routerLink="/profile" class="navbar-btn">Profile</a>
  <a routerLink="/gift-card" class="navbar-btn">gift-card</a>
  <a routerLink="/carrito">
    <img src="../../public/carrito.png"> (<span>0</span>)
  </a>  
</div>
<div class="row">
  <router-outlet></router-outlet>
</div>