<!-- <div class="container mt-3">
  <h2 class="text-center">Detalles del Evento</h2>
  <hr />
  <div *ngIf="data; else loading">
    <div class="card">
      <img [src]="data.imagen || 'https://via.placeholder.com/400'" alt="{{ data.nombre }}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ data.nombre }}</h5>
        <p class="card-text"><strong>Fecha:</strong> {{ data.fecha }}</p>
        <p class="card-text"><strong>Lugar:</strong> {{ data.lugar }}</p>
        <p class="card-text"><strong>Categorías:</strong> {{ data.categorias }}</p>
      </div>
    </div>
    <div class="mt-3 text-center">
      <a routerLink="/catalogo" class="btn btn-secondary">Volver al Catálogo</a>
    </div>
  </div>
  <ng-template #loading>
    <p class="text-center">Cargando detalles del evento...</p>
  </ng-template>
</div> -->

<div class="card mb-3">
  <h2 class="text-center">Ficha</h2>
  <img *ngIf="data" src="https://images.pexels.com/photos/2263436/pexels-photo-2263436.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
  <div class="card-body">
    <h5 class="card-title">{{ data.nombre }}</h5>
    <p class="card-text"><strong>Descripción: </strong>{{ data.descripcion }}</p>
    <p class="card-text"><strong>Categorías: </strong>{{ data.categorias }}</p>
    <p class="card-text"><strong>Fecha: </strong>{{ data.fecha }}</p>
    <p class="card-text"><strong>cantidad_de_tickets: </strong>{{ data.cantidad_de_tickets }}</p>
    <button (click)="agregarAlCarrito(data.tickets[0].tipo, data.tickets[0].precio)" >Precio {{ data.tickets[0].tipo}}: {{ data.tickets[0].precio}} Bs</button>
    <button (click)="agregarAlCarrito('Descuento', data.tickets[0].precio * 0.1)">Precio Descuento: {{ data.tickets[0].precio*0.1 | number:'1.0-2'}} Bs</button>
    <button (click)="agregarAlCarrito(data.tickets[1].tipo, data.tickets[1].precio)">Precio {{ data.tickets[1].tipo}}: {{ data.tickets[1].precio}} Bs</button>
    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
  </div>
</div>