<div class="container mt-3">
    <h1>Carrito de compras</h1>
    <hr />
    <div class="row">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped text-center">
                            <thead>
                                <th>Evento</th>
                                <th>fecha</th>
                                <th>precio</th>
                                <th>Cantidad</th>
                                <th>Importe</th>
                            </thead>
                            <!-- <tbody>
                                <div>
                                    <tr>
                                        <td>{{item.evento.nombre}}</td>
                                        <img [src]="https://images.pexels.com/photos/2263436/pexels-photo-2263436.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                                        <td>{{item.evento.precio}}</td>
                                        <td>{{item.evento.cantidad}}</td>
                                        <td>{{item.evento.precio * item.cantidad}}</td>
                                    </tr>
                                  </div>
                            </tbody> -->
                        </table>
                        <tbody>
                            <button button type="button" class="btn btn-primary">Confirmar</button>
                        </tbody>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>