<div class="container mt-3">
    <h1>Carrito de compras</h1>
    <hr />
    <div class="row">
      <div class="col-sm-9">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped text-center">
                <thead>
                  <tr>
                    <th>Evento</th>
                    <th>Fecha</th>
                    <th>Tipo</th>
                    <th>Precio</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of carrito">
                    <td>{{ item.evento }}</td>
                    <td>{{ item.fecha }}</td>
                    <td>{{ item.tipo }}</td>
                    <td>{{ item.precio | currency }}</td>
                  </tr>
                  <tr>
                    <td colspan="4"><strong>Total</strong></td>
                    <td><strong>{{ calcularTotal() | currency }}</strong></td>
                  </tr>
                </tbody>
              </table>
              <div class="text-center mt-3">
                <button (click)="confirmarCompra()" type="button" class="btn btn-primary">
                  Confirmar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>